@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;
  --primary: #137fec;
  --light: #E2E8F0;
  --muted: #64748B;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light: var(--light);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
} 
